:root{
    --colorPrim:linear-gradient(to right,#fb5283,#ff3527);
    --bg-body:#ededed;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: monospace;
    text-decoration: none;
    list-style: none;
}

body{
    color: var(--bg-body);

}
img{
    width: 100%;
    height: 100%;
}

.header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    margin-top: 2rem;
    padding: 1.5rem 5%;
    background: transparent;
    display: flex;
    justify-content: space-between;
    z-index: 1000;
}
.header .logo{
    display: flex;
    align-items: center;
    gap: .5rem;
    /* position: relative; */
}
.header .logo h1{
    font-size: 1.4rem;
    font-weight: 900;
    background: linear-gradient(to right, #FFCC17,
                    #1796CC, #E90154);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}
.header .navbar{
    display: flex;
    justify-content: space-evenly;
    gap: 3rem;
    align-items: center;
    font-size: 1.4rem;
}
.header .navbar a{
    color: black;
    position: relative;
    font-weight: bold;
}
.header .navbar a::after{
    content: "";
    width: 0%;
    position: absolute;
    height: 2px;
    bottom: -3px;
    left: 0;
    background: #EC368D;
    transition: width .5s;
}
.header .navbar a:hover{
    color: #E90154;
}
.header .navbar a:hover::after{
    width: 100%;
}
.header .icons-nav{
    font-size: 2rem;
    display: flex;
    gap: 1.9rem;
    color: #000;
}

.home{
    width: 100vw;
    height: 100vh;
    background: #ffffff;
    padding: 5rem 0;
    display: flex;
    align-items: center;
    justify-content: center;
}
.home__content{
    width: 100%;
    gap: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #000;
    position: relative;

}
.home__content .bar{
    height: 9rem;
    width: 1rem;
    margin:0 2rem;
    background: #EC368D;
}
.home__content__text{
    display: flex;
    height: 100%;
    gap: 1rem;
    flex-direction: column;
    padding-right: 1rem;
    font-size: 2rem;
}
.home__content__text::after{
    position: absolute;
    top: -1rem;
    right: -36rem;
    width: 90%;
    content: "DUALSHOCK 4";
    font-size: 6rem;
    color: rgba(169, 171, 173,.2);
    font-weight: 900;
}
.home__content__text h2{
    font-size: 5rem;
}

.home__content-btn{
    outline: none;
    display: flex;
    gap: 1rem;
    align-items: center;
    justify-content: center;
    margin: 2rem;
    padding: 1rem 4rem;
    font-size: 1.6rem;
    background: var(--colorPrim);
    border-radius: 1rem;
    color: #ededed;
    width: 40%;
    transition: all 1s;
}
.home__content-btn img{
    transition: all .9s;
    width: 0%;
    height: 2rem;
}
.home__content-btn:hover{
    width: 22rem;
}
.home__content-btn:hover img{
    width: 30%;
}
.home__content-btn i{
    transform: scaleX(140%);
}

.home__content__controller{
    display: flex;
    justify-content: flex-start;
    height: 100%;
    width: 100%;
    flex-basis: 60%;
    position: relative;
}
.img-controller{
    display: flex;
    align-items: center;
    z-index: 1000;
    width: 60%;
}
.img-controller img{
    width: 100%;
    object-fit: contain;
    height: 80%;
}

.controller-text{
    background: var(--colorPrim);
    border-top-left-radius: 2rem;
    border-bottom-left-radius: 2rem;
    position: absolute;
    top: 0;
    right: 0;
    width: 80%;
    height: 100%;
    transform: translateX(150px);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    
}
.controller-text h2{
    padding: 2rem 0;
    font-size: 6rem;
    font-weight: bold;
    color: rgba(224, 226, 228, 0.4);
}
.controller-text .add-cont{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem 0;
    font-size: 2rem;
    gap: 1rem;
    color: #ffffff;
}
.controller-text .add-cont i{
    font-size: 5rem;
}