/*-----------------------------------*\
    #style.css
\*-----------------------------------*/




/*-----------------------------------*\
    #CUSTOM PROPERTY
\*-----------------------------------*/

:root{
    --ff-poppins:"Poppins",sans-serif;
    --shadow: 0px 0px 100px 0px hsl(216, 9%, 90%);
}



/*-----------------------------------*\
    #RESET
\*-----------------------------------*/

*,*::before,*::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

li{
    list-style: none;
}
a,img,button{
    display: block;
}
a{
    color: inherit;
    text-decoration: none;
}
img{
    width: 100%;
    height: auto;
}
button{
    background: none;
    border: none;
    font: inherit;
    cursor: pointer;
}

address{
    font-style: normal;
}
html{
    scroll-behavior: smooth;
    font-size: 10px;
}
body{
    font-family: var(--ff-poppins);
    font-size: 1.6rem;
    min-height: 100vh;

}

:focus-visible{
    outline-offset: 4px;
}

::-webkit-scrollbar{
    width: 5px;
}
::-webkit-scrollbar-track{
    background: hsl(0, 0%, 98%);
}
::-webkit-scrollbar-thumb{
    background-color: hsl(0, 0%, 80%);
}
::-webkit-scrollbar-thumb:hover{
    background-color: hsl(0, 0%, 70%);
}
/*-----------------------------------*\
    #REUSED STYLE
\*-----------------------------------*/

/*-----------------------------------*\
    #HEADER
\*-----------------------------------*/

.header .logo img{
    width: 4rem;
}
.header{
    padding: 1.2rem 6rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header .navbar .list_links{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
}
.header .navbar .list_links a{
    padding: 8px 5px;
    position: relative;
    transition: all .2s;
}

.header .navbar .list_links a::before{
    content: "";
    height: 1px;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0%;
    background: #ff0101;
    transition: all .2s;
}
.header .navbar .list_links a::after{
    content: "";
    height: 1px;
    position: absolute;
    top: 0;
    right: 0;
    width: 0%;
    background: #ff0101;
    transition: all .2s;
}
.header .navbar .list_links a:hover{
    color: #ff0101;
}
.header .navbar .list_links a:hover::before{
    width: 100%;
    transition: all .2s;
}
.header .navbar .list_links a:hover::after{
    width: 100%;
    transition: all .2s;
}

/*-----------------------------------*\
    #HERO
\*-----------------------------------*/
.circle{
    height: 100vh !important;
}
.hero{
    position: relative;
    width: 100%;
    height: 90vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 6rem;
    flex-direction: column;
}
.hero .inside{
    position: relative;
    max-width: 600px;
}
.hero .inside h2{
    color: red;
    font-size: 3rem;
    line-height: 1rem;
    font-weight: bold;
    padding: 2rem 0;
}

.hero .inside h2 span{
    color: #000;
    font-size: 4rem;
    font-weight: 900;
}

.hero .inside p{
    font-size: 1.5rem;
}

.hero .inside a{
    text-transform: uppercase;
    background: #000;
    color: #fff;
    border-radius: 2rem;
    border: solid transparent 2px;
    padding: 1rem 2rem;
    width: max-content;
    margin: 1rem 0;
    font-weight: bold;
}
.hero .inside a:hover{
    border: solid #ff0101 2px;
    background: #fff;
    color: red;
}
.hero .inside a:active{
    transform: scale(0.98);
}

.hero .rows{
    display: flex;
    align-items: center;
    justify-content: center;
}
.hero .rows img{
}
.hero .rows .inside{
    flex-basis: 50%;
}
.hero .rows .insides{
    width: 50%;
    text-align: center;
}
.hero .rows ul{
    display: flex;
    gap: 2rem;
    align-items: center;
    justify-content: center;
    padding: 2px;
}
.hero .rows ul img{
    width: 9rem;
    cursor: pointer;
}
.hero .rows ul img:hover{
    transform: scale(0.95);
}

/*-----------------------------------*\
    #SERVICE
\*-----------------------------------*/

/*-----------------------------------*\
    #ABOUT
\*-----------------------------------*/

/*-----------------------------------*\
    #WORK
\*-----------------------------------*/

/*-----------------------------------*\
    #FOOTER
\*-----------------------------------*/

/*-----------------------------------*\
    #MEDIA QUERIES
\*-----------------------------------*/